SECRET_KEY = fdsgfgsdf-dfgsdfgs-fgsdfgsdfg
DEBUG = False

ALLOWED_HOSTS = localhost, 127.0.0.1

#Database
DATABASE_URL =postgresql://postgres:postgres@localhost:5432/postgres


#Static files ------
DJANGO_SETTINGS_MODULE=config.settings